Repository StanislawSkotniczny/ClusterMaster, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci/cd, configuration, dependencies, kubernetes

add AWS Console configuration options and Terraform state management
  .gitignore
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/activity_log.json
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/api/api.py
  backend/app/api/endpoints/__init__.py
  backend/app/api/endpoints/eks_cluster.py
  backend/app/services/__pycache__/app_service.cpython-313.pyc
  backend/app/services/__pycache__/backup_service.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/app/services/__pycache__/k3d_service.cpython-313.pyc
  backend/app/services/__pycache__/port_manager.cpython-313.pyc
  backend/app/services/app_service.py
  backend/app/services/eks_service.py
  backend/cluster_ports.json
  backend/simple_main.py
  frontend/src/services/api.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/aws.ts
  frontend/src/views/ClusterDetailsView.vue
  frontend/src/views/DeployView.vue
  frontend/src/views/HomeView.vue
Labels: backend, frontend, configuration

Add CPU/RAM metrics support for EKS clusters
  .gitignore
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/app_service.cpython-313.pyc
  backend/app/services/__pycache__/backup_service.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/app/services/__pycache__/k3d_service.cpython-313.pyc
  backend/app/services/__pycache__/port_manager.cpython-313.pyc
  backend/app/services/eks_service.py
  backend/app/services/helm_service.py
  backend/simple_main.py
  frontend/src/views/HomeView.vue
Labels: backend, frontend

fixed app install and uninstall for aws eks
  .gitignore
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/services/__pycache__/app_service.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/app/services/app_service.py
Labels: backend

Add AWS EKS integration with credentials management
  backend/Dockerfile
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/app_service.cpython-313.pyc
  backend/app/services/__pycache__/backup_service.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/app/services/__pycache__/k3d_service.cpython-313.pyc
  backend/app/services/__pycache__/port_manager.cpython-313.pyc
  frontend/src/views/HomeView.vue
Labels: backend, frontend, ci/cd

Add automatic node group migration on instance type change
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/api/endpoints/eks_cluster.py
  backend/app/services/eks_service.py
  backend/simple_main.py
  frontend/src/services/api.ts
  frontend/src/views/ClusterDetailsView.vue
  frontend/src/views/ScaleView.vue
Labels: backend, frontend

Handle already deleted clusters and node groups
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/services/eks_service.py
  frontend/src/services/api.ts
Labels: backend, frontend

added backup for aws cluster, fixed backup location path
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/activity_log.json
  backend/app/services/__pycache__/backup_service.cpython-313.pyc
  backend/app/services/backup_service.py
  backend/app/services/eks_service.py
  backend/simple_main.py
  frontend/src/views/BackupView.vue
  frontend/src/views/HomeView.vue
Labels: backend, frontend, configuration

Add AWS CloudWatch monitoring for EKS clusters
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/api/endpoints/monitoring.py
  backend/app/services/__pycache__/backup_service.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/app/services/helm_service.py
  backend/simple_main.py
  frontend/src/services/api.ts
  frontend/src/views/MonitoringView.vue
Labels: backend, frontend

Add CloudWatch monitoring option for EKS cluster creation
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/simple_main.py
  frontend/src/views/DeployView.vue
Labels: backend, frontend

Add documentation link and minor changes/fixes
  .gitignore
  README.md
  backend/.env.example
  backend/Dockerfile
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/activity_log.json
  backend/app/core/config.py
  backend/app/services/__pycache__/backup_service.cpython-313.pyc
  backend/app/services/__pycache__/helm_service.cpython-313.pyc
  backend/app/services/__pycache__/k3d_service.cpython-313.pyc
  backend/app/services/__pycache__/port_manager.cpython-313.pyc
  backend/app/services/backup_service.py
  backend/app/services/firebase_service.py
  backend/app/services/helm_service.py
  backend/app/services/k3d_service.py
  backend/app/services/port_manager.py
  backend/cluster_ports.json
  backend/grafana-nodeport.yaml
  backend/prometheus-nodeport.yaml
  backend/simple_main.py
  docker-compose.yml
  frontend/index.html
  frontend/nginx.conf
  frontend/public/dokumentacja.html
  frontend/src/App.vue
  frontend/src/components/NotificationBell.vue
  frontend/src/services/api.ts
  frontend/src/stores/clusters.ts
  frontend/src/stores/notifications.ts
  frontend/src/views/BackupView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/MonitoringView.vue
  frontend/src/views/ScaleView.vue
  setup.ps1
  start.ps1
  stop.ps1
Labels: backend, frontend, documentation, ci/cd, configuration, kubernetes

CI/CD pipelines fix
  .github/workflows/auto-labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  backend/.flake8
  backend/.pylintrc
  backend/__pycache__/simple_main.cpython-313.pyc
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/test_api.py
  commits.csv
  frontend/index.html
  frontend/public/dokumentacja.html
Labels: backend, frontend, ci/cd, configuration

misspelling fix
  commits.csv
  frontend/src/services/api.ts
Labels: frontend

.github/labeler.yml:

backend:
  - backend/**/*

frontend:
  - frontend/**/*

documentation:
  - "**/*.md"
  - docs/**/*

ci/cd:
  - .github/**/*
  - "**/Dockerfile"
  - docker-compose.yml

configuration:
  - "**/*.json"
  - "**/*.yaml"
  - "**/*.yml"
  - "**/*.toml"

dependencies:
  - backend/requirements.txt
  - frontend/package.json
  - frontend/package-lock.json

kubernetes:
  - backend/helm/**/*
  - "**/*.yaml"
  - backend/metrics-patch.yaml
